[2017-11-08 17:26] Igor10k opened #1 "No way to get "auth" and "p256dh" keys"
Looks like only `token` is exposed but `auth` and `p256dh` keys are also needed for encryption.

In fact it would've been better to expose an object representing PushSubscribtion instead of just token.

[code]

[2017-11-08 19:34] MatthieuLemoine commented on #1
You want to have access to the encryption keys for sending notification ?
You don't need those if you are sending notifications using FCM. FCM is handling the encryption part.

If you're talking about decryption, push-receiver already decrypts the notifications.

[2017-11-08 19:35] MatthieuLemoine commented on #1
And if you're talking about FCM registration. It's already taken care of by push-receiver that's why you only need the FCM token.

[2017-11-08 19:41] Igor10k commented on #1
@MatthieuLemoine
Chrome 50+ allows receiving payloads within notification but to send this payload the back end needs those keys for encryption.

https://developers.google.com/web/updates/2016/03/web-push-encryption

[2017-11-08 19:52] MatthieuLemoine commented on #1
Ok I see the use case.

For now electron-push-receiver & push-receiver only supports sending notifications through FCM using the FCM serverKey provided by the [Firebase console](https://console.firebase.google.com).

What I understand is that you want to use your own push server using the [Web Push Protocol](https://developers.google.com/web/fundamentals/push-notifications/web-push-protocol). Unfo

[2017-11-09 08:00] kimorkim opened #2 "Can`t change the senderId"
first, i checked the running with the test senderId.
[code]
then it was changed to the senderId that was actually used.
[code]
but, it did not work.
Because the senderId has not changed. (still old credentials [link](https://github.com/MatthieuLemoine/electron-push-receiver/blob/master/src/index.js#L41))
of course, i can delete the config and solve them.
however, i believe that changing senderId s

[2017-11-09 08:38] MatthieuLemoine commented on #2
Yeah definitely. It should be easier to change the senderId.

[2017-11-09 08:55] #2 closed

[2017-11-09 08:58] MatthieuLemoine commented on #2
Released in [v1.2.0](https://github.com/MatthieuLemoine/electron-push-receiver/releases/tag/v1.2.0)

[2017-11-09 13:25] PedroKantar opened #3 "typo in README.md (constants path)"
Very small typo in the README.md, the path to the constants is missing the `src` folder:
[code]
By the way, congratulations for the work achieved 👍

[2017-11-09 13:47] MatthieuLemoine commented on #3
Nice catch !

[2017-11-09 13:48] #3 closed

[2017-11-09 18:08] dupuydauby opened #4 "All notifications are resent after each reconnection"
Hello,

It seems that after a deconnection and reconnection:
_Connection to MCS server lost
MCS socket closed after 49 minutes
Trying to reconnect
MCS client connected_

I receive again all notifications since the beginning of the app.

In your blog you said you should have fixed it I think?
_But for now, I just skip them if they have already been received._

Tested on last version 1.2.0

[2017-11-10 08:52] MatthieuLemoine commented on #4
That's weird because `electron-push-receiver` saves all the notification ids that has been received to avoid this issue.

The ids are saved using [electron-config](https://github.com/sindresorhus/electron-store).
You can see it using :

[code]

[2017-11-10 11:18] PedroKantar opened #5 ""Connection lasted less than 1 minute" purpose?"
Hi Matthieu,

I'm facing the "Connection lasted less than 1 minute" case:

Basically, if the internet connection is lost before one minute, after the connect took place, the "retry" mechanism is disabled forever and no more push notifications..

What is the purpose of this mechanism? Why could not we keep on retrying even if the connection was lost very quickly after the connect operation?

Thanks

[2017-11-10 13:11] MatthieuLemoine commented on #5
Ah yeah I didn't think about that ! Nice catch !

The purpose was just to avoid infinite retry if MCS server kick the client out because of a registration issue or something like this.

[2017-11-10 13:13] PedroKantar commented on #5
OK, I see..

[2017-11-10 13:17] #5 closed

[2017-11-10 13:17] MatthieuLemoine commented on #5
Fix in v1.2.1

[2017-11-10 13:19] PedroKantar commented on #5
Thanks for tagging as a bug, I thought I could over come this case at API level, but I did not receive any error via the `NOTIFICATION_SERVICE_ERROR` channel.

[2017-11-13 02:05] kimorkim opened #6 "socket timeout problem"
over time, the socket is closed.
then the following error occurs:
[code]

the problem is that this is not caught in `try ~ catch`.

electron-push-receiver/src/index.js
[code]

for this, i wrote the following code in the main process:
[code]

i don't know why `try ~ catch` doesn't work.

and how do i reconnect after i close the socket?

electron version: 1.7.8
os: osx el capitan

[2017-11-13 04:41] kimorkim commented on #6
it seems the is has changed from the new version.
i`ll check it out.

[2017-11-13 04:41] #6 closed

[2017-11-14 08:46] MatthieuLemoine commented on #4
For now the list is not sent when reconnecting so the client will receive all/some notifications again but they are filtered client side. Already received notifications are [discarded by the client](https://github.com/MatthieuLemoine/push-receiver/blob/aaaac4ff96aca6bc2ebb4ef24e98cdc899234540/src/client/socket/index.js#L101-L103).

[code]

[2017-11-14 09:59] PedroKantar commented on #4
I reproduce this issue: after losing connection all the notifications are resent, looks like ```persistentIds``` is lost.
A candidate fix in push-receiver\src\client\socket\index.js would be to reload ```persistentIds" before [performing the retry](https://github.com/MatthieuLemoine/push-receiver/blob/aaaac4ff96aca6bc2ebb4ef24e98cdc899234540/src/client/socket/index.js#L35)

[code]
I'm going to tes

[2017-11-14 10:07] MatthieuLemoine commented on #4
I think I know why you have this issue.

In `retry`, we are using the persistentIds passed on the first connection attempt. So if new notifications are received during a connection, we will receive them again on subsequent retries.

How to reproduce :

- Connect
- Send a notification
- Disable internet connection
- Enable internet connection
- The notification is received again

Can you confirm th

[2017-11-14 10:08] MatthieuLemoine commented on #4
But you shouldn't receive all the notifications. Only those which have been received since the first connection attempt. All the previous notifications from previous sessions should not be received again.

[2017-11-14 10:09] MatthieuLemoine commented on #4
The solution is simple, we just have to update the `persistentIds` array when we receive a new notification.

[2017-11-14 10:22] PedroKantar commented on #4
"Can you confirm this @PedroKantar and @dupuydauby ?"
Yes I do. This exactly the sequence I observed, only the "delta" notifications between the last connect and the retry are received.

[2017-11-14 10:30] PedroKantar commented on #4
@MatthieuLemoine : what do you think, as a first candidate fix, [at this line](https://github.com/MatthieuLemoine/push-receiver/blob/333626d663656d1a881142db0d9fb8b4ea066fcb/src/client/socket/index.js#L26)
[code]
?

[2017-11-14 10:38] MatthieuLemoine commented on #4
Well we don't have access to electron in push-receiver as it should work also in Node without electron.

A better way will be to update the persistentIds array on each notification [here](https://github.com/MatthieuLemoine/push-receiver/blob/333626d663656d1a881142db0d9fb8b4ea066fcb/src/client/socket/index.js#L110)
[code]

[2017-11-14 10:43] PedroKantar commented on #4
OK, my previous fix worked, but I did not catch the "_should work also in Node without electron_" point, I'm going to test your candidate.. And get back asap.

[2017-11-14 10:45] PedroKantar commented on #4
It works!

[2017-11-14 10:46] MatthieuLemoine commented on #4
Great ! Can you submit a PR on push-receiver @PedroKantar ?

[2017-11-14 10:54] PedroKantar commented on #4
Yes!

[2017-11-15 08:44] #4 closed

[2017-11-15 08:47] MatthieuLemoine commented on #4
Fixed in [v1.2.2](https://github.com/MatthieuLemoine/electron-push-receiver/releases/tag/v1.2.2)

[2017-11-15 09:40] dupuydauby commented on #4
Thanks guys, working very well!

[2017-11-16 17:26] PedroKantar opened #7 "[Tag 1.2.3] package.json missing update"
Looks like package.json was not upated for [push_receiver](https://github.com/MatthieuLemoine/electron-push-receiver/blob/c3596db2cb3c386d8ac773c6dfb7d835bf5482bd/package.json#L11) and also the [version](https://github.com/MatthieuLemoine/electron-push-receiver/blob/c3596db2cb3c386d8ac773c6dfb7d835bf5482bd/package.json#L3).

Sorry if i missed something..
Pedro.

[2017-11-16 21:52] saenzramiro opened #8 "Working example"
Hello @MatthieuLemoine, thanks for building this library.

It will be really helpful if you can provide a working example of this.

[2017-11-17 09:19] MatthieuLemoine commented on #7
Yes I forgot to push my local commits !

[2017-11-17 09:19] #7 closed

[2017-11-17 09:23] MatthieuLemoine commented on #8
Yes it could be useful.

If someone wants to tackle this, feel free to do it.

[2017-11-17 10:34] PedroKantar commented on #7
@MatthieuLemoine the [push_receiver](https://github.com/MatthieuLemoine/electron-push-receiver/blob/ef936d6d090e723cc0e67f73805e9702cf19a2c1/package.json#L11) dependency is still set to : "push-receiver": "^1.1.3".
It should be the [V1.1.4](https://github.com/MatthieuLemoine/push-receiver/tree/v1.1.4), no?

[2017-11-17 10:56] MatthieuLemoine commented on #7
No that's not needed because `^1.1.3` means the latest `1.1.X`

[2017-11-17 11:21] PedroKantar commented on #7
👌

[2017-12-01 22:38] CydeSwype commented on #8
I may try to tackle this over the weekend.  I got it working in my project and it was a real lifesaver (because as far as I know, this module is the only way to do push notifications with electron without having to roll your own servers from scratch).  I didn't find any other modules built on Urban Airship or any other system... so this module is super valuable.  I did struggle at points, mostly n

[2017-12-04 07:23] CydeSwype commented on #8
Just committed this: https://github.com/CydeSwype/electron-fcm-demo/

Let me know if this satisfies the need for example use.  I also captured a screen recording and will try to add voiceover, edit it for brevity and get that posted sometime this week.

[2017-12-04 09:10] MatthieuLemoine commented on #8
Nice work @CydeSwype ! Thankd ! I will add a link to your example in the Readme.

[2017-12-04 09:10] #8 closed

[2017-12-04 14:35] saenzramiro commented on #8
@CydeSwype Thank you so much! :clap

[2017-12-18 17:58] mweiczorek opened #10 "Typescript definition file"
Hi,

Not a bug or issue, quite the contrary. I implemented this into my TypeScript electron project, and since you don't have a types file, I made one:

    interface ElectronPushReceiver {
        START_NOTIFICATION_SERVICE: string;
        NOTIFICATION_SERVICE_STARTED: string;
        NOTIFICATION_SERVICE_ERROR: string;
        NOTIFICATION_RECEIVED: string;
        TOKEN_UPDATED: string;

[2017-12-19 09:11] MatthieuLemoine commented on #10
@mweiczorek Can you make a PR to add  this types file ?

[2017-12-28 21:26] mweiczorek commented on #10
Yeah, I don't know how to do that for projects other than my own.

[2017-12-29 13:09] MatthieuLemoine commented on #10
You need to fork this project. Then clone it, make your changes, commit & pull. After that, you'll see a message asking you if you want to create a pull request.

[2018-02-15 11:42] RaimisJ opened #13 "GCM register has failed"
Hi,

Works as expected in development. However, if I package it using electron-packager, I get this error (on ipcRenderer.send(START_NOTIFICATION_SERVICE, 'correct id'))

Register request has failed with Error=PHONE_REGISTRATION_ERROR
Retry... 1
<retries 5 times, then>
Register request has failed with Error=PHONE_REGISTRATION_ERROR
PUSH_RECEIVER:::Error while starting the service Error: GCM regist

[2018-02-20 19:09] RaimisJ commented on #13
The problem is with webpack - it does not copy .proto files and also when UglyfyJS is applied somehow the code stops working.

[2018-02-20 19:09] #13 closed

[2018-02-21 00:46] victordev commented on #13
Hey @RaimisJ, how to fix this?

Thanks.

[2018-02-21 06:45] RaimisJ commented on #13
In my case, this problem entirely depended on my configuration:
1 .In my configuration I had to swap "webpack.optimize.UglifyJsPlugin" with "uglifyjs-webpack-plugin", as the former produces unexpected results.
2. Also, my configuration produces single electron.js file while packing, but it does not bundle proto files. So I copy them myself:
  shell.cp(path.join(__dirname, '../node_modules/push-rec

[2018-02-21 12:43] victordev commented on #13
Thanks @RaimisJ

[2018-02-26 08:03] arun-nfactorial opened #14 "Initializing electron-push-receiver component without a main window"
Hi Matthieu,

I have an app that sits in the background and pops up windows at random intervals. I have it running in the system tray as well. However, there is no persistent window for the app.

In such a case, am struggling to figure out how to use this:

// Initialize electron-push-receiver component. Should be called before 'did-finish-load'
  setupPushReceiver(mainWindow.webContents);

I woul

[2018-02-26 09:20] MatthieuLemoine commented on #14
@arun-nfactorial well you have two ways of doing that :

- Easy: Pass a fake webContents in setupPushReceiver : you just need a object with a send function which will receive the notifications
- Harder: Use [push-receiver](https://github.com/MatthieuLemoine/push-receiver) directly. `electron-push-receiver` is just a convenient wrapper around `push-receiver`. You'll have to handle the credentials s

[2018-02-26 10:30] arun-nfactorial commented on #14
Thanks for the quick response.

I am trying with creating a defaultWindow initially to see whether this
works. I first tried out the demo code provided on a linux machine and that
worked perfectly.

When I try it using my code on a Windows machine the service is started
successfully. I also have the token, but when I hit that with Postman, the
notification window never pops up. Is there any known

[2018-02-26 10:45] MatthieuLemoine commented on #14
@arun-nfactorial Never tried on Windows. Did you receive the notification and it's just a display issue or the notification is never received ?

[2018-02-26 11:11] arun-nfactorial commented on #14
Thon Postman I get a success response. It's just that I don't see it on the
windows machine.

A couple of other questions:

A) when you said an empty Webcontents, would I still need to create a dummy
window or just a Webcontents object is sufficient?

B) I see that the service is started in the renderer. Since I have multiple
pop-ups in my app coming up at random times, I am assuming the service w

[2018-02-26 11:27] MatthieuLemoine commented on #14
A) Yes. Something like :

[code]

B) You can start from the main process using `ipcMain.send(START_NOTIFICATION_SERVICE, senderId);`. You dont' have to start the service for each windows. You can start it only once in the main process

[2018-02-26 11:29] arun-nfactorial commented on #14
Awesome. Thanks a lot. Shall try that and let you know. Shall also run the
demo on the windows machine and let you know if it works since that will
tell us whether it is a windows issue that needs resolving or a quirk of my
implementation.

Regards,
Arun

On 26-Feb-2018 16:57, "Matthieu Lemoine" <notifications@github.com> wrote:

[2018-02-26 16:53] arun-nfactorial commented on #14
Hi Matthieu,

I tried the demo code on a Windows machine. The popup never comes up, even
though I get a Status 200  using Postman.

Regards,
Arun

On Mon, Feb 26, 2018 at 4:59 PM, Arun Krishnan <arun@nfactorialanalytics.com

--
Arun Krishnan, Ph.D
Founder & CEO,
nFactorial Analytical Sciences,

Email: arun@nfactorialanalytics.com
Phone: +91 9880007615
URL: http://www.nfactorialanalytics.com

*n!Ga

[2018-02-27 06:58] arun-nfactorial commented on #14
A quick update.

The push notification is received on a Windows 10 machine. So looks like a
Windows 8 issue.

Regards,
Arun

On Mon, Feb 26, 2018 at 10:48 PM, Arun Krishnan <
arun@nfactorialanalytics.com> wrote:

--
Arun Krishnan, Ph.D
Founder & CEO,
nFactorial Analytical Sciences,

Email: arun@nfactorialanalytics.com
Phone: +91 9880007615
URL: http://www.nfactorialanalytics.com

*n!Gage, n!Factor

[2018-02-27 09:15] arun-nfactorial commented on #14
Hi Mathieu,

I tried to do this in the main process but get an ipcMain.send is not a
function error.

I tried Webcontents.send but I am not getting a service registered message
with the token.

Your thoughts would be very helpful.

Thanks,
Arun

On Mon, Feb 26, 2018 at 4:57 PM, Matthieu Lemoine <notifications@github.com>
wrote:

--
Arun Krishnan, Ph.D
Founder & CEO,
nFactorial Analytical Sciences,

[2018-02-27 09:17] arun-nfactorial commented on #14
Also,

Once I start the service in the main process, should the listeners for the
different notifications still be in renderer.js? Or can they also be moved
to main.js.

If they can be moved, would that be ipcMain.on(NOTIFICATION_RECEIVED etc?

Regards,
Arun

On Tue, Feb 27, 2018 at 2:45 PM, Arun Krishnan <arun@nfactorialanalytics.com

--
Arun Krishnan, Ph.D
Founder & CEO,
nFactorial Analytical Sc

[2018-03-15 16:00] saenzramiro opened #15 "Topic subscription"
Are you plan to allow topic subscription?

https://firebase.google.com/docs/cloud-messaging/js/send-multiple

[2018-03-16 07:19] ydatech opened #16 "Failed to minify constants/index.js when build with CRA"
I'm trying to build my electron app bootstraped by create-react-app (cra). and get this error:
[code]

[2018-03-16 08:40] MatthieuLemoine commented on #16
@ydatech CRA uses Webpack@^3 which is bundled with a version of UglifyJS that does not support ES6. Webpack@^4 is bundled with a new version of UglifyJS that can parse ES6.

Four solutions here :
- Waiting for https://github.com/facebook/create-react-app/pull/4077 to be merged
- Add a transpilation step with Babel in `electron-push-receiver`
- Eject from CRA and update your webpack config with an

[2018-03-16 08:42] MatthieuLemoine commented on #15
Could be nice. If someone wants to implement this feature, it should be made in [push-receiver](https://github.com/MatthieuLemoine/push-receiver).

[2018-03-16 08:51] ydatech commented on #16
@MatthieuLemoine
I have fixed the issue by moving constants from `src/constants/index.js`  file to local variable in entrypoint index.js.. and also I change the dependency of push-receiver to dev-master it also causes build error if we use latest stable version..

[2018-04-18 08:13] MatthieuLemoine commented on #10
Fixed in #17.

[2018-04-18 08:13] #10 closed

[2018-04-30 20:23] rahenri opened #18 "Upgrading to 2.0 introduces crashes"
Here is the stack trace:

Uncaught Exception:
TypeError: Cannot read property 'value' of undefined
    at decrypt (/Users/raphael/go/src/github.com/relay/relay/clients/electron/node_modules/push-receiver/src/utils/decrypt/index.js:10:5)
    at Client._onDataMessage (/Users/raphael/go/src/github.com/relay/relay/clients/electron/node_modules/push-receiver/src/client.js:175:17)
    at Client._onMessa

[2018-05-02 07:34] MatthieuLemoine commented on #18
@rahenri Are you able to reproduce it on every notification ?

[2018-05-02 19:17] ream88 commented on #13
I'm also encountering this problem, however my `.proto` files are properly copied to my build dir.
I also works perfectly even when compiled with `webpack`, it however fails with the same error when compiling the code with `electron-build`. Any ideas?

[2018-05-07 04:18] rahenri commented on #18
I see that on startup everytime, I haven't kept it open any longer than that.

[2018-05-07 14:28] MatthieuLemoine commented on #18
@yurynix raised [raised this issue](https://github.com/MatthieuLemoine/push-receiver/pull/13#discussion_r167427435) in @ibash's [PR](https://github.com/MatthieuLemoine/push-receiver/pull/13) in [push-receiver](https://github.com/MatthieuLemoine/push-receiver). Maybe they have more informations on this

[2018-05-07 14:36] yurynix commented on #18
I've been using GCM, and the messages came in non encrypted,
so I just [dropped decryption](https://github.com/yurynix/push-receiver/blob/master/src/client/socket/index.js#L155) for my use-case.

[2018-05-07 15:32] ibash commented on #18
I wonder what determines whether it's encrypted or not - we've never seen an unencrypted message...
Would totally make sense to check for the crypto-key not being there and return it as is.

[2018-05-07 15:33] ibash commented on #18
Also - everyonce in a while we get push notifications that we can't decrypt (even though they have keys and everything). We've ended up just dropping these because they were a very small percentage (<0.5% IIRC) of notifications (and our client expects to not get all notifications anyway).

[2018-05-07 15:35] MatthieuLemoine commented on #18
@rahenri Do you use GCM or FCM ?

[2018-05-07 17:32] rahenri commented on #18
@MatthieuLemoine I'm using FCM I believe, I'm using Firebase to push those notifications, so that is FCM right?

[2018-05-11 07:25] sujitgawas19 opened #19 "Display notification using chrome's push manager."
I don't want to use electron's notification api to display the notifications.
Is there any other way for displaying notification like the way chrome does??

[2018-05-11 07:27] MatthieuLemoine commented on #19
If you dont' want to use electron, you can use [push-receiver](https://github.com/MatthieuLemoine/push-receiver) directly and handle the incoming notifications as you want from any type of processes.

[2018-05-11 07:27] #19 closed

[2018-05-11 07:36] sujitgawas19 commented on #19
push-receiver was built using chrome's Push manager. So can it be used to display notification the way  chrome does??

[2018-05-11 08:00] MatthieuLemoine commented on #19
@sujitgawas19 What do you mean by "the way chrome does" ?

[2018-05-11 20:17] omar10594 commented on #19
@sujitgawas19 You can get the notification data with this library, and then you can show the notification to the user the way you want, with any library.
This library allow you to receive notifications from FCM, but you should implement the ui to show the notification.
For example you could use [node-notifier](https://github.com/mikaelbr/node-notifier)

[2018-05-14 05:15] sujitgawas19 commented on #19
@omar10594 Okay. Got It. Thank You.

[2018-05-14 11:51] ream88 commented on #13
@RaimisJ what is `targetPath` in your config? The output folder of webpack?

[2018-05-14 11:59] RaimisJ commented on #13
@ream88 in the end, I ended up using not bundled node_modules folders. Only then it works correctly in all cases.

[2018-05-14 12:14] ream88 commented on #13
@RaimisJ Yeah, not using webpack and bundling the files helped! However now I need more and more features provided via webpack like for example its DefineWebpack plugin, and I'm stuck again 😞

[2018-05-22 04:35] imd1whonocks opened #20 "A JavaScript error occurred in the main process."
**Getting this error randomly. I am not able to identify source for this. To resolve this, I need to clear config.json file in app directory. Please help**
Uncaught Exception:
TypeError: Cannot read property 'value' of undefined
    at decrypt (/home/shashank/office/office-chat-web/node_modules/push-receiver/src/utils/decrypt/index.js:10:5)
    at Client._onDataMessage (/home/shashank/office/offic

[2018-05-22 07:12] MatthieuLemoine commented on #20
Duplicate of #18

[2018-05-22 07:12] #20 closed

[2018-05-23 22:06] rahenri commented on #18
Any updates on this? I'm on FCM so messages should be encrypted. Can we just drop the messages that can't be decrypted? Once it crashes, it will continue to crash because the same message will be attempted to be parsed next time until we get a brand new token.

[2018-05-24 07:04] MatthieuLemoine commented on #18
@rahenri Yes I think we can just drop these messages.

[2018-05-24 07:05] MatthieuLemoine commented on #18
Could you setup a PR on [push-receiver](https://github.com/MatthieuLemoine/push-receiver) to fix this ?

[2018-05-25 02:33] rahenri commented on #18
Yeah, I will give it a shot

[2018-06-14 08:33] JohannBlake opened #21 "Using FCM in multiple instances of an Electron app"
I would like to run multiple instances of my app on the same computer. I notice that the sender ID from FCM is the only parameter used to register a client with FCM. This raises the question as to how multiple apps on a computer (even different apps) are able to register separately from other apps. Does your library create some kind of unique ID for the app that it is running on? If not, when a Pu

[2018-06-14 08:42] MatthieuLemoine commented on #21
[push-receiver](https://github.com/MatthieuLemoine/push-receiver) does generate an id for each registration [here](https://github.com/MatthieuLemoine/push-receiver/blob/master/src/register/index.js).

In [electron-push-receiver](https://github.com/MatthieuLemoine/electron-push-receiver), a new registration is created only if we didn't register before or if the credentials have been cleared. See [t

[2018-06-14 08:47] JohannBlake commented on #21
Without looking at your code to figure it out, does this mean that if I run two instances of my app and both are using the same cache folder, both will end up having the same id? I assume that you're storing the id to some file, so when the first app registers, the second app would end up using the same registration id. If that's true, the one solution is to change the user data path for each app

[2018-06-14 08:55] MatthieuLemoine commented on #21
In electron-push-receiver we use [electron-config or now electron-store](https://github.com/sindresorhus/electron-store)

[2018-06-17 07:28] JohannBlake opened #22 "Reinstalling an app that has already registered with FCM"
If an app registers with FCM and receives a token and the client stores the token on the backend and then the user uninstalls the app and reinstalls it (or just clears the app's cache), is it possible for the client to retrieve the token from the backend and then reuse it when it attempts to register with FCM?

I assume that this is possible but only if my code would actually store the token back

[2018-06-18 18:37] z687wang opened #23 "get following error when intilializing"
notification error no such type: checkin_proto.AndroidCheckinRequest

[2018-06-18 20:15] z687wang commented on #23
Solved... It is my webpack issue, the proto file is missing after build.

[2018-06-18 20:15] #23 closed

[2018-06-19 15:11] JohannBlake commented on #22
After playing around with the push-receiver, it appears that you can do this.

[2018-06-19 15:12] JohannBlake opened #25 "Reinitializing push receiver without restarting app"
You can delete this.

[2018-06-20 15:59] #25 closed

[2018-06-27 09:17] redplane opened #27 "No such file or directory build\checkin.proto"
Hi,

I'm using `electron-push-receiver` version 2.0.0.
When I use `ipcRenderer.send(START_NOTIFICATION_SERVICE, senderId);` in my `renderer` process, there is an error in my console window says that; `PUSH_RECEIVER:::Error while starting the service { Error: ENOENT: no such file or directory, open '<my path>\build\checkin.proto'`

What wrong have I done ?

Thank you,

[2018-06-27 10:01] MatthieuLemoine commented on #27
Are you using a bundler like webpack ?

[2018-06-30 10:12] redplane commented on #27
Yes, I'm using web 4.12

[2018-07-19 12:23] Manjucloudmpower opened #28 "ipcRenderer is undefined"
getting an error ipcRenderer is undefined on main.js

[2018-07-19 14:35] MatthieuLemoine commented on #28
You can't use `ipcRenderer` in the main process. Only in the renderer process.

[2018-07-19 14:35] #28 closed

[2018-07-19 19:56] cmpDrone opened #29 "generating token but no notification"
Tokens are being generated successfully.  Pushing notifications from firebase console using generated token and it shows as success. But not receiving any notification.

[2018-07-20 06:33] #29 closed

[2018-08-07 11:44] JohannBlake opened #30 "Shutting down and restarting push receiver"
In my app I have a sign-in screen. When the app starts, the push-receiver gets started  and after the user signs in is able to receive push notifications. When the user signs out, the app is still running and the user is presented with the sign-in screen. However the push receiver was already registered and still receives notifications. I want to avoid that. I don't want to receive any push notifi

[2018-08-14 21:01] riatzukiza opened #31 "Where does one get the end point?"
I get a log in my browser that I have successfully subscribed to a push api, but I get nothing. I am migrating an existing push api service from a website to an electron client.

[code]

How do I generate the endpoint url from the token data I'm provided from this library?

[2018-08-19 15:38] MatthieuLemoine commented on #31
Electron doesn't implement the PushManager API so you can't use a serviceWorker registration to receive push notifications. It's the reason why I created [push-receiver](https://github.com/MatthieuLemoine/push-receiver) in the first place.

Using `electron-push-receiver`, you'll receive a `TOKEN_UPDATED` event with the token you can use to send a push notification. To setup this library, you just

[2018-08-20 08:59] MatthieuLemoine commented on #31
The endpoint to use to send notifications is the FCM one. You can find an example here https://github.com/MatthieuLemoine/push-receiver/blob/master/scripts/send/index.js#L21

[2018-08-20 17:59] riatzukiza commented on #31
I saw that, the issue I'm having is I'm working on an electron client to a backend I don't have much control over, and they are sending the exact url that the browser would usually give them, and doing push notifications with that url. The url the browser gives looks like
https://android.google.com/gcm/send/oig9h238h49fsf7....

The fact that it was gcm that the chromium browser gave back was a lit

[2018-08-21 06:40] tom-s commented on #13
Hi have the same issue, has anybody found any solultion. I use webpack but copy the fileswith CopyWebPackPlugin when building. It works perfectly in my dev dev environment, but when i package the app with electron builder I get the infamous PHONE_REGISTRATION_ERROR. The proto files are included in the asar file and loaded correctly (I've checked putting logs in my node modules). So the problem com

[2018-08-21 06:43] tom-s opened #32 "GCM register has failed"
Hi I have the same issue a few person had, I get a PHONE_REGISTRATION_ERROR and when building my desktop app with electron-builder. I use webpack and copy the proto files with CopyWebPackPlugin when building. It works perfectly in my dev dev environment, but when i package the app with electron-builder I get a PHONE_REGISTRATION_ERROR. The proto files are included in the asar file and loaded corre

[2018-08-21 07:26] tom-s commented on #32
Might not be of any use but here is a comparison of logs the requests going on both cases (my  working localhost on the left, and the non working built on the rights): http://www.mergely.com/D0yFktuh/

[2018-08-21 08:14] MatthieuLemoine commented on #31
I guess you could try `https://fcm.googleapis.com/fcm/send/${token}`, it's what we use to register to FCM https://github.com/MatthieuLemoine/push-receiver/blob/817c843c0689d0b73b823485012897d7b02a168e/src/fcm/index.js#L20

[2018-08-21 08:59] MatthieuLemoine commented on #32
It's weird that it's only failing when packaged with electron-builder but it's not proto related 😕 I don't know how `electron-builder` works but I think that except for file paths everything should work the same

[2018-08-21 10:04] MatthieuLemoine commented on #13
@ream88 I think you have the issue as #32

[2018-08-21 16:51] tom-s commented on #32
We found the cause and a workaround, I'll post an issue/PR in push-receiver because that's where the bug comes from.

[2018-09-02 13:31] mohammadjalili opened #33 "Cannot find module 'request'"
hi ,
i build electron app with ionic 3.9.2.
after i export **.exe** application. i get this error. this is image of my problem

[https://pasteboard.co/HC1OiyJ.png](url)

[2018-10-02 13:26] #18 closed, assigned to nobody

[2018-10-15 07:34] MatthieuLemoine commented on #16
Fixed in v2.1.2 thanks to @NBoychev #36

[2018-10-15 07:34] #16 closed

[2018-10-17 09:36] mjarkk opened #37 "Add prefix to `credentials` config item (electron-config)"
After a long time of debugging why a electron app didn't work i found that this package uses [electron-config](https://github.com/sindresorhus/electron-store#readme) that saves a item named `credentials`
Because my application also uses [electron-config](https://github.com/sindresorhus/electron-store#readme) with an saved item named `credentials` coursed electron-push-receiver to not work with a r

[2018-10-17 09:49] PedroKantar commented on #37
Went into a similar issue.. the workaround/fix is to not use the default config file provided by  [electron-config](https://www.npmjs.com/package/electron-config) Use your own settings file by providing your setting file name :
`const config = new Config("MysettingsFile");`

[2018-10-17 10:02] mjarkk commented on #37
Thx for the workaround
I already fixed it in my code by adding a prefix to the things i save in electron-config.

Aside from that this still seems like something that electron-push-receiver needs to handle by specifying another save location or adding a prefix to every item saved with electron-config.
`credentials` is probably used a lot to save things in electron-config

[2018-11-19 17:40] bvallier opened #39 "Trouble Packaging"
Notifications work fine in development, but when I build the app and run in production it fails with the following message:

<img width="420" alt="screenshot 2018-11-19 12 38 45" src="https://user-images.githubusercontent.com/13512745/48724762-10bc6900-ebf8-11e8-8ae6-d907772bb3f0.png">

[2018-11-19 17:47] MatthieuLemoine commented on #39
Which version of Electron are you using ?

[2018-11-19 17:48] bvallier commented on #39
v1.7.9

[2018-11-19 17:53] MatthieuLemoine commented on #39
`push-receiver` requires at least [v1.8.1](https://github.com/MatthieuLemoine/electron-push-receiver/blob/master/package.json#L25) for `async/await` support. You could build it using

PS: Now I see that I made a typo and the peer dependency warning is not shown 😅

[2018-11-19 17:55] bvallier commented on #39
Alright, thought that could be it. Let me upgrade and I can confirm back here. Thanks for the library - you've done a nice job.

[2018-11-19 18:03] bvallier commented on #39
i updated to latest version:

`npm install --save-dev electron@latest`

All is well. Thank you!

[2018-11-30 14:16] bvallier commented on #14
I can confirm that the push notification is received but the notification doesn't flash.

As a workaround, within the `ipcRenderer.on(NOTIFICATION_RECEIVED, (__, serverNotificationPayload)` function, I send the serverNotificationPayload to the main.js process via
`ipcRenderer.send('notification_received', serverNotificationPayload) `
which is picked up by `ipcMain.on("notification_received", (even

[2018-11-30 14:30] MatthieuLemoine commented on #14
So it's an issue with electron's Notification API ?

[2018-11-30 14:32] bvallier commented on #14
I tried to use their API directly, but it didn't work for me, so yes, i think so. My understanding is that it's experimental:

https://electronjs.org/docs/api/notification#new-notificationoptions-experimental

[2018-11-30 14:52] MatthieuLemoine commented on #14
There are requirements depending on the Windows version https://electronjs.org/docs/tutorial/notifications#windows

[2018-12-04 14:50] maxfadeev commented on #29
Hi. I run into the same issue. If you have fixed that could you explain how you did that please ?

[2018-12-04 16:14] maxfadeev commented on #29
I have just seen the explanation in the description

[2018-12-13 19:21] codeminic opened #40 "Receiving notifications on a destroyed window causes exception"
So cool that you brought push notifications to electron! First of all, thanks for that!

Sadly, im facing the following issue when using your library: When receiving a notification on a window that has been closed (but the app instance itself is still alive), incoming notifications are causing exceptions, probably because electron-push-receiver tries to call some method on the web contents object

[2019-01-10 13:17] DreamitMauri opened #41 "Electron 4 support"
Since upgrading to Electron 4.0.1 from Electron 2.0.14 I receive these errors:

[code]

Here's my code:
[code]

There is no exception from `setupPushReceiver`, the app just crashes.

Also tested with Electron 3.1.0. Same issue.

[2019-01-11 14:09] DreamitMauri commented on #41
I've done some more digging on this.

I believe the issue is with push-receiver (https://github.com/MatthieuLemoine/push-receiver) and not this package. I have created an issue there: https://github.com/MatthieuLemoine/push-receiver/issues/23

[2019-01-11 14:09] #41 closed

[2019-01-27 00:02] robmontesinos commented on #27
Hi @MatthieuLemoine , thank you for a hugely valuable library. Is there any chance that you could post some sample code using copy-webpack-plugin to copy the .proto files? Thank you

[2019-01-27 00:17] robmontesinos commented on #27
I tried the following web pack config using vue.config.js - using electron-builder and @vue/cli and am still receiving the above error regarding 'checkin.proto' not found in 'dist_electron'

[code]

[2019-02-20 20:19] BluFenix00 opened #43 "Notification_Service_started doesn't run"
i just update my code from electron 1.8.8 to 3.0.5, when i update the NOTIFICATION_SERVICE_STARTED stop running

[2019-02-21 12:42] MatthieuLemoine commented on #43
I think it's a duplicate of https://github.com/MatthieuLemoine/push-receiver/issues/23.

Feel free to reopen if not

[2019-02-21 12:42] #43 closed

[2019-02-25 20:07] BluFenix00 opened #44 "i'm not receiving the token on windows"
the event "notification-service-started" is not always executed on windows, but on mac the same code works fine, i am using electron 1.8.4

[2019-03-19 11:55] jayarjo commented on #15
@MatthieuLemoine would you have any hints or insightful guidelines to someone considering to implement topic subscription?

[2019-03-20 13:45] achou11 commented on #40
@codeminic did you happen to find a workaround for this issue?

[2019-04-21 17:45] #44 closed

[2019-05-03 13:00] codeminic commented on #40
Yes, but a really poor one. I copied the relevant code from this project and surrounded the crashing parts with try-catch clauses.

[2019-05-30 08:39] abhijagtap73 opened #46 "Does electron-push-receiver work in China?"
my electron app not working in china region,  something weird happens there. checked in [greatfirewallofchina.org](https://www.comparitech.com/privacy-security-tools/blockedinchina/) "google.com" is blocked, but "firebase.google.com" succeeds yet app not working and not generates an fcm token.

[2019-05-31 07:31] MatthieuLemoine commented on #46
`push-receiver` needs to access `android.clients.google.com` and `mtalk.google.com`. According to the site you've shared, they work in China. Do you see any error ?

[2019-07-20 03:57] KeithNdhlovu opened #47 "How do i unregister device on logout?"
Hi, thanks for the great work that you have put into this.

I have implemented the electron-push-receiver on my sample app, and it works like a charm.
I was wondering however if there is a functionality to be able to unregister the device, for example, when a user logs out of the app they should not receive push notifications.

[code]

I also understand that its not that big of a deal because not

[2019-08-07 17:33] BluFenix00 opened #48 "Long time to reconnect after sleep."
I have the problem that after I resume  my notebook from the sleep, the notifications take around of 15 minutes to arrive all together in group.

There is a way that I could reconnect faster?

Os: Windows and OSX
Electron 3.0.4

[2019-08-19 18:15] pedrobertao commented on #40
Anyone know a solution to do this ? It's happening sporadically in my project

[2019-08-23 09:08] MatthieuLemoine commented on #40
Fixed in https://github.com/MatthieuLemoine/electron-push-receiver/releases/tag/v2.1.3

[2019-08-23 09:08] #40 closed

[2019-09-06 09:48] vinay3206 commented on #27
@robmontesinos Are u able to solve this ?

[2019-10-03 02:08] buu700 opened #50 "Receiving any push notification causes crash"
I haven't investigated too much further, but for whatever reason receiving any push notification in the @cyph macOS app ([here](https://apps.apple.com/us/app/cyph/id1480070821)) causes it to immediately crash.

This is with macOS 10.14.16, electron-push-receiver 2.1.3, electron 4.2.11, cordova-electron 1.1.1, and cordova 9.0.0.

Relevant code: https://github.com/cyph/cyph/commit/e6728851b1f3abd730

[2019-10-04 04:32] anilv0001 opened #51 "checkin.proto not found"
hey I m getting this error --> ENOENT, checkin.proto not found in /Applications/ElectronReact.app/Contents/Resources/app.asar
in release build notification.

[2019-10-04 07:59] MatthieuLemoine commented on #51
Did you try https://github.com/MatthieuLemoine/electron-push-receiver/issues/27 ?

[2019-10-04 08:04] anilv0001 commented on #51
Yes, I tried #27 but still getting the same error, copy-webpack-plugin module copies file successfully to the required directory it gets deleted as build started.

[2019-10-04 08:19] MatthieuLemoine commented on #51
Can you share your Webpack config file & release scripts?

[2019-10-04 10:14] anilv0001 commented on #51
**webpack.config.base.js**

/**
 * Base webpack config used across other specific configs
 */

import path from 'path';
import webpack from 'webpack';
import fs from 'fs';
import { dependencies as externals } from '../app/package.json';
import { dependencies as possibleExternals } from '../package.json';
const CopyWebpackPlugin = require('copy-webpack-plugin');
const fromCopy = 'node_modules/push-

[2019-10-05 14:00] anilv0001 commented on #51
Hey finally its working, there was a configuration issue thanks for your help

[2019-10-05 14:46] MatthieuLemoine commented on #51
@anilv0001 Can you share your fix?

[2019-11-17 15:11] sionnaouattara opened #61 "electron-push-receiver"
Hi think for your great job. I'm new in electron. How can i integrate electron-push-receiver with electron-vue. thx

[2019-11-27 18:08] fefitin opened #62 "PHONE_REGISTRATION_ERROR"
I tried adding electron-push-receiver to a very simple electron app (https://github.com/electron/electron-quick-start) but I keep getting "Register request has failed with Error=PHONE_REGISTRATION_ERROR"

I also tried the example app (https://github.com/CydeSwype/electron-fcm-demo) with the same result.

I read several people had this problem when bundling the app, but in this case I'm just runnin

[2019-12-11 04:30] eladnava commented on #46
Chrome Web Push / Firebase Cloud Messaging are blocked in China, therefore no, unfortunately `electron-push-receiver` cannot work in China.

[Pushy](https://pushy.me/) can deliver notifications in China and [supports Electron](https://pushy.me/docs/additional-platforms/electron).

Full disclosure - I work at Pushy.

[2020-01-13 20:26] Radzell commented on #27
Anyone able to solve this

[2020-04-25 21:05] hamza-talba opened #63 "a small example how to use this package with angular & electron"
could you help me with a small example how to add this package to angular project use electron js

thank you so much,you made a great package

[2020-04-30 07:44] omerkhan8 opened #64 "receiving all the notifications when open the app"
First of all thanks for this amazing pakage. I am facing one issue.
when the app is closed obviously I don't receive any
notifications, but when I open the app all of the notifications that have
been received during the time interval when the app was closed started to show
one after another, how can I stop this behaviour? and only show the notifications
that came during the app is opened.

[2020-05-05 14:11] benoist commented on #13
[code]

This works for me

[2020-05-13 06:30] omerkhan8 commented on #47
@KeithNdhlovu  did you found any workaround to this?

[2020-05-14 12:53] justduy opened #66 "Force the FCM connection via a proxy?"
I am developing an electron app with react. Everything works fine except that the FCM connection doesnt connect via my clients proxy. So their network denies any furhter connection to the m.talk.google connecitons.

 He says that the connection needs to connect via a specific port on their proxy.

I am quite new to Electron, so not sure how to solve this. Any ideas? Any way to configure the FCM co

[2020-05-18 11:06] omerkhan8 commented on #64
any solution to this??? i want to receive notifications only when my app is open

[2020-05-19 08:20] KeithNdhlovu commented on #47
@omerkhan8 Sadly i was unable to get a workaround, i just left it stale at the moment, since its not much of a bother

[2020-05-28 15:18] danieltigse commented on #40
Does anybody still have the same error? I still have it

[2020-06-18 11:21] wanguolin commented on #27
Having the same issue when I tried to use grpc in election with vue & vuetify.

I have tested all of the "webpack" related grpc loaders on the npm and none of them worked, perhaps I've made some mistake which I've not aware....either it shows ".proto file not found", or "Invalid package electon.asar" finally.

I believe the root cause is related to the proto file loading when webpack compiled the

[2020-06-18 11:40] vinay3206 commented on #27
I tried this and worked for me @wanguolin

[code]
while using it I just use it as

[code]

[2020-06-18 11:56] wanguolin commented on #27
Thanks for your answer, I put the configuration like yours in rendering process, is shows: "Uncaught Error: Invalid package ...\resources\electron.asar".

Now I've worked around this issue by using 'webpack-proto-loader' in main process with proto files in vue's 'public folder'.

[2020-06-18 14:45] richard457 opened #67 "How to add an image on notification"

[2020-06-29 11:28] ajaycallhippo opened #68 "TypeError: Cannot read property 'fcm' of undefined (MAC OS system)"
Hi Every one I have face this issue in MAC OS . as well as other OS system like window and linux in working fine but i have face this issue in Mac OS. Can you please help me why occure this issue I try to lot but codunt find this issue. Please help me resolve this issue

Thank you !

[2020-07-06 02:45] michaelpeterlee commented on #67
This used to work, displays text only now.

[2020-07-06 03:05] michaelpeterlee opened #69 "How to display icon"
MSWindows notifications display without an icon.

The FCM web implementation permits you to specify `icon` fullPath in the notification payload which works well for the web.
We use the same convention, however no icon displays.

[2020-07-06 03:34] michaelpeterlee commented on #69
This is a problem for Electron.Notification(sTitle,{icon:''}).

[2020-07-06 03:34] #69 closed, assigned to nobody

[2020-07-08 09:12] calvinckho opened #70 "PUSH_RECEIVER:::Error while starting the service TypeError: Object has been destroyed"
Here is my setup.

  "dependencies": {
    "@capacitor/electron": "2.2.1",
    "electron-push-receiver": "^2.1.3",
    "electron-updater": "^4.3.1",
  },
  "devDependencies": {
    "electron": "9.1.0",
    "electron-builder": "22.7.0"
  },

in the renderer process:
[code]
in the main process:
[code]
I received the following error when running the electron app, when it is setting up the push receiv

[2020-07-09 00:27] calvinckho commented on #70
#11

[2020-07-14 15:30] KeithNdhlovu commented on #67
Try this on your Renderer process

[code]

[Notification.Icon](https://developer.mozilla.org/en-US/docs/Web/API/Notification/icon)

[2020-08-04 18:29] anteeek commented on #27
A little update since copy-webpack-plugin has changed:
[code]
this worked for me, while the previous response for some reason didn't

[2020-10-05 09:34] cuter74 opened #72 "A javascript error occurred in the main process"
Uncaught Exception:
TypeError: Cannot read property 'length' of undefined
    at Object.decrypt (webpack:///./node_modules/http_ece/ece.js?:379:34)
    at decrypt (webpack:///./node_modules/push-receiver/src/utils/decrypt/index.js?:21:25)
    at Client._onDataMessage (webpack:///./node_modules/push-receiver/src/client.js?:174:17)
    at Client._onMessage (webpack:///./node_modules/push-receiver/sr

[2020-10-06 10:19] Amethystafyy282 commented on #28
@Manjucloudmpower Hi, have u been able to fix when fire says success but didn't receive anything? Thank u!

[2020-10-06 10:35] Manjucloudmpower commented on #28
Hello, I couldn't recieve push notification when I triggered it from the firebase console but it did work when sent from backend.

[2020-11-16 12:24] akshaykatale99 commented on #63
how i can use this package with angular?

showing
Module not found: Error: Can't resolve 'fs'
Module not found: Error: Can't resolve 'path'

[2020-11-18 21:58] adouglass commented on #51
To solve this problem when using electron-builder, I had to use both the CopyWebpackPlugin described in #27 and specifically instruct the builder to place the .proto files in the .asar at the root, by adding this entry to my package.json [files](https://www.electron.build/configuration/contents):

`
"files": [
  "main.prod.js",
  "app.html",
  {
    "from":"dist/",
    "to":"./",
    "filter": [ "

[2021-01-07 16:50] julianflapper opened #73 "Getting a token, but not receiving any messages, please help!"
Hi,

I am trying to set up my Vue application with Electron and electron-push-receiver.

I am using the following versions:
- electron 11.1.1
- electron-push-receiver: 2.1.3

I my regular Vue app, I can receive notifications from Firebase just fine. It has firebase 7.15.4 installed.

Now, using electron-push-receiver I can get a token (although I have no idea if it is registered with FCM..?), but

[2021-01-07 22:30] #73 closed, assigned to nobody

[2021-01-11 19:23] codemeall commented on #73
@julianflapper can you please share the ( file / location of file ) where I have to add the above option? getting token but unable to receive message. Thanks

[2021-02-03 07:53] codemeall commented on #51
@adouglass I added

`"files": [ "main.prod.js", "app.html", { "from":"dist/", "to":"./", "filter": [ "*.proto" ] } ]`

to my package.json like this

`"name": "-electron-v1",
  "description": "electron version",
  "author": "cdmn",
  "version": "0.1.0",
  "private": true,
  "files": [ "index.js", "index.html", { "from":"dist_electron/", "to":"./", "filter": [ "*.proto" ] } ],
  "scripts": {
    "se

[2021-02-18 12:55] pragatijadhav commented on #27
I have used copy-webpack-plugin, facing the same issue after generating an executable with electron-builder. Below is the code from my webpack file.

![image](https://user-images.githubusercontent.com/49223551/108359912-93d52b00-7216-11eb-9aaa-db2698173329.png)

[2021-02-28 18:19] louisparks-sta opened #74 "trouble with ElectronForge webpack plugin"
Hi,
My project uses ElectronForge (Webpack, Typescript) boilerplate project.  When I try to start the notification service I get the following error and it doesn't start.

`Error: ENOENT: no such file or directory, open '/Users/xxx/xxxxx/.webpack/main/native_modules/android_checkin.proto'`

If I modify loadProtoFile()  in the base push_receiver module to load the android_checkin.proto explicitly w

[2021-07-01 06:37] bhtri opened #80 "The service is currently unavailable"
Hi @MatthieuLemoine
Thank you for creating a great package.
I tried to add in my project and have reference to the [example project](https://github.com/CydeSwype/electron-fcm-demo), can't get the token failed to boot successfully, and get the error as below.
[code]
It seems endpoint of FCM has changed, how to update again?
Thank you very much!

[2021-07-01 10:03] moneychaudhary commented on #74
@louisparks-sta

I was able to fix it using `CopyWebpackPlugin`.

[code]

[2021-07-05 17:15] wtesler commented on #80
Also getting this error

[2021-07-06 03:38] DE-Kato commented on #80
NOTE:
This issue seems to be occurring within [push-receiver](https://github.com/MatthieuLemoine/push-receiver) itself.
The subscribe URL for Legacy "FCM HTTP API" was removed??

[2021-07-06 11:29] AshmitW commented on #80
Also getting this error, is there any workaround for this that we can do?

[2021-07-07 08:03] DE-Kato commented on #80
[Update]
This error seems to have stopped happening today.
I don't have any official information from Google, so I don't know what happened. 🤔

[2021-07-07 12:46] AshmitW commented on #80
Did you change anything from your side? cause for me the issue is still there

[2021-07-07 15:25] DE-Kato commented on #80
Hi @Ashmit-Nextus

Unfortunately, I didn't do anything special about it, but it occurred for a few days and then resolved itself.
Just last year, there was a similar failure report. I'm just hoping it's not something that happens every year around this time. 😅

https://status.firebase.google.com/incidents/rE4GeaMBDmYefDDuomVL

[2021-07-07 15:49] AshmitW commented on #80
Oh unfortunately the error is still here for me, can @bhtri @wtesler confirm if something changed for you guys?

[2021-07-07 16:07] wtesler commented on #80
I can't confirm, but what I do know is the 503 is coming from a GCM
endpoint which I know Google is sunsetting (in favor of FCM), so it might
just be the case that the endpoint is no longer available/supported.

On Wed, Jul 7, 2021, 10:50 AM Ashmit ***@***.***> wrote:

[2021-07-08 01:04] bhtri commented on #80
Thank you to everyone who shared and commented!
My error is still the same, even though I tried running [electron-fcm-demo](https://github.com/CydeSwype/electron-fcm-demo), and changing my Sender ID [here](https://github.com/CydeSwype/electron-fcm-demo/blob/master/renderer.js#L49), it still doesn't work (still the same error 😅).
and I also tried trying to figure out how it works through @MatthieuL

[2021-07-08 02:23] DE-Kato commented on #80
[Update.2]
The issue has started to occur again this morning. 😥
I didn't do anything special about it, so I think you may be right about what you are saying.

[2021-07-10 23:18] YohaanYoon commented on #80
Are there any updates?

[2021-07-12 00:02] bhtri commented on #80
package & issue is still not update ....

[2021-07-12 01:50] YohaanYoon commented on #80
If push-receiver is updated, is it possible to solve the issue?
@bhtri

[2021-07-14 00:30] stephen79 commented on #80
nope, updated to latest 2.1.1, still doesn't work
This is an issue originated from FCM service, the client can only retry  registerFCM() until it successfully registered.
https://github.com/stephen79/electron-push-receiver

[2021-07-14 04:21] bhtri commented on #80
so now is there any way that **electron app** can receive notifications from **Firebase Cloud Messaging** (FCM)?
and also created a [question](https://stackoverflow.com/q/68329214/6284714) on stackoverflow but still no idea... 😥

[2021-07-14 05:26] DE-Kato commented on #80
As mentioned here, we may no longer be able to invoke the FCM registration endpoint.
https://github.com/MatthieuLemoine/push-receiver/issues/47#issuecomment-874251257

So, the possible (realistic) solution might be...using node-gyp, create a native addons for Google's C++ SDK.
- https://medium.com/firebase-developers/how-to-add-firebase-to-your-c-desktop-game-4a177703186e
- https://pspdfkit.com/bl

[2021-07-14 11:11] rodent129 commented on #80
@bhtri
May be you can try a test with stephen79 push receiver. https://github.com/stephen79/electron-push-receiver

He added the retry logic for registering fcm token. We tested it today, after several tempt try, it finally succeeded with interval from several minutes to an hour or more. But at least got fcm token.

It is not published, so you can get it locally build.

Get the source project. The

[2021-07-19 17:03] osslate commented on #80
I've been looking into creating a native addon that links to `firebase-cpp-sdk`; it appears as though their SDK can be built for three different targets (Android, iOS, Desktop).

As you would expect, building for Android requires linking to Android/Java specific libraries, and building for iOS requires linking to iOS-specific libraries (Foundation, Cocoa, etc.)

Many of the Firebase API implementa

[2021-07-20 07:57] davej commented on #80
We have been seeing fewer 503 errors over the past few days. I saw a couple of them yesterday but all-in-all it seems to be on the downtrend. Does this match other people's experiences?

[2021-08-14 04:59] jexe commented on #68
Did you work this issue out? I'm running into the same.

[2021-08-14 22:27] koush commented on #80
@osslate I believe all 3 implementations leverage native platform APIs for push messaging. Firebase SDK does not provide a push implementation, it provides a unified way to access platform provided APIs.

The C++ API, as noted in their docs, targets the platform services.

Same with the javascript implementation, that requires the browser to support it:

Basically, the Android implementation needs

[2021-08-30 10:21] hongky-1994 commented on #51
Thank to @adouglass  and @MatthieuLemoine , it finally worked,
Step 1. I add [copy-webpack-plugin](https://webpack.js.org/plugins/copy-webpack-plugin/) and config webpack.config.base.js

[code]
Step 2. I config package.json (not in src) like @adouglass
[code]
Hope this help !
---
Additional: my script package, my temporary build is in src/dist before electron-build.
`"package:never": "rm -rf src/d

[2021-10-12 19:09] aquacode opened #82 "Is local time used for connecting to FCM server?"
My electron app is not yet opened
My server sends an FCM message with timestamp of 18:00 UTC with ttl of 10 seconds
I wait 10 seconds
Start the electron app
The app receives the FCM message

Is the electron app using local time when it connects to the FCM server such that if the local time is say 13:00 (local time zone) the FCM message on the server hasn't expired since it was sent with a timestam

[2021-10-13 11:40] aquacode commented on #64
I'm seeing something similar whereby messages set with ttl of say 10 seconds are still being delivered, or shall I say received, by my electron app using this library.

[2021-10-27 04:49] mohammedshoib opened #85 "Cannot read property 'fcm' of null"
Hello,

My organization have strict ssl check for every request, due to that I keep getting this error
"Cannot read property 'fcm' of null".

![image](https://user-images.githubusercontent.com/797999/139001572-536e95cb-42f5-4b01-88a7-3bb6a65f7aea.png)

I have created PR on the forked repo by [(](https://github.com/ibrahim-ih/electron-fcm-push-receiver)

https://github.com/ibrahim-ih/electron-fcm-p

[2021-11-03 08:55] ibrahim-ih commented on #85
I fixed it in my forked project, and you can find it in npm: electron-fcm-push-receiver@2.1.7

[2021-12-15 07:34] RandomEngy opened #86 "Exception from outdated electron-config module on newer version of Electron"
I'm using Electron 16.0.4 and am initializing the electron-push-receiver from the isolated context preload script in the renderer process. I'm getting this error on importing the module:

[code]

It appears that v1.0 of `electron-config` is making a check: `electron.app || electron.remote.app`. This throws since both are null in newer versions of Electron. It appears the new package for storing da

[2022-01-01 23:57] davej commented on #86
Can confirm. I noticed the same issue.

[2022-01-25 07:06] clampinou commented on #64
Facing the same problem. Any solution please?

[2022-03-25 05:38] vialoh commented on #86
@RandomEngy I just want to say... Thank you for sharing your workaround. You probably saved me hours/days of going in circles trying to find a solution. It would have taken me entirely too long to determine that importing the constants from `electron-push-receiver` was the reason for my preload script failing to load, based on the console's error messages. Seriously, thank you.

[2022-03-25 11:45] weeks6 commented on #86
@vialoh Hi, can you please share your snippet of how you initialize the reciever? I tried using strings instead of imported event names but I still get the same error

[2022-03-25 12:04] vialoh commented on #86
@weeks6 Sure! I'm using [@capacitor-community/electron](https://github.com/capacitor-community/electron), and you can see how I've integrated `electron-push-receiver` here in this commit: https://github.com/molecule-dev/molecule-app/commit/762188931c98f2835718e147abd4a5c934af555c

And if you're curious as to how it's integrated into a React app: https://github.com/molecule-dev/molecule-app/commit/

[2022-03-25 13:43] weeks6 commented on #86
@vialoh Thanks! That helped me a great deal!

[2022-04-26 03:05] michaelpeterlee opened #87 "macOS > Not work"
[code]

This event does not fire on macOS, works 100% on MSWindows.

[2022-07-07 07:55] hieu-ht commented on #27
For someone struggling when integrating this awesome package with your electron project is built with [vue-cli-plugin-electron-builder](https://nklayman.github.io/vue-cli-plugin-electron-builder/), you need to use a custom webpack config build of the main process, not renderer process, [this](https://nklayman.github.io/vue-cli-plugin-electron-builder/guide/configuration.html#webpack-configuration)

[2022-08-13 13:05] yfyfyfyfyfyf commented on #21
@MatthieuLemoine
@JohannBlake
Sorry for resurfacing an old post.
I was using the library created by Matthieu, but ran into the problem that: after we built the app, the standalone app on a Mac cannot receive any FCM events, WHILE it can if it's fired up from a terminal or VSCode.
I've been on this problem for a week now - may I ask if you might know what's gone wrong here?
(We have already checked

[2022-08-16 09:43] PedroKantar commented on #21
Not a pointer but, just to let you known that recently I used the lib on Monterey, Catalina and BigSur and it worked fine.. I used AZURE (notification hub) and the App is based on Electron 19.0.0.

[2022-08-18 08:43] JustDo opened #89 "Cannot find module "electron-push-receiver""
Version: 2..1.3
Target: windows 10

Im building an app on windows. When build success and run app , then got error "Cannot find module "electron-push-receiver"

![微信截图_1111](https://user-images.githubusercontent.com/4507113/185352018-16efb3ea-38e4-432e-bd9c-018a223bae91.png)

There is no such problem in the development environment, and notifications can be received normally

![微信截图_20220818164059]

[2022-09-15 19:04] AsadNom opened #90 "Hello MatthieuLemoine"
dear MatthieuLemoine .
I have checked your releases but how i can fix this issue in my app,
getting the same Error GCM register has failed #13

[2022-11-10 10:32] hieu-ht commented on #22
@JohannBlake Would you have any hints or insightful guidelines to implement your idea? Thank you

[2022-11-10 14:19] #22 closed

[2022-11-23 14:05] bsprengelmeijer opened #91 "Suddenly not receiving notifications anymore."
I was developing an app and I was able to receive push notifications for about 2 days and than it suddenly didn't work anymore.

I do get a token every time I start the app, I can send messages to that token and I can see in Firebase that the messages are coming in. But my app doesn't receive them.

I've tried making a completely new app with only the bare minimum for the notifications and it stil